h1,
h2,
p,
footer {
  font-family: "Courier Prime", monospace;
}
hr {
  border-top: 2px dotted;
}
h2 a {
  text-decoration: none;
  color: #00b594;
}
.headers {
  font-family: "Courier Prime", monospace;
  display: flex;
  justify-content: flex-end;
}
.head {
  box-sizing: content-box;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: rgb(33, 37, 41);
}
.head:hover {
  color: #00b594;
}
.socials a {
  color: #00b594;
}
.socials a:hover {
  opacity: 0.5;
}

#profile-pic {
  opacity: 0.5;
}
#weather-app,
#chrome_ext,
#dictionary-app {
  opacity: 1;
}
#weather-app:hover,
#chrome_ext:hover,
#dictionary-app:hover {
  opacity: 0.5;
}

#email-link {
  text-decoration: none;
  color: rgb(33, 37, 41);
}
#email-link:hover {
  color: #00b594;
}
#about-link {
  text-decoration: none;
  color: rgb(33, 37, 41);
}
#about-link:hover {
  color: #00b594;
}
#about-meP {
  line-height: 1.5;
}
@media (max-width: 600px) {
  #email-link,
  #about-link,
  #job-title {
    font-size: 8px;
  }
  #profile-pic {
    width: 100%;
  }
}
